@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@600;900&display=swap');
* {
    box-sizing: border-box;
}

html, body {
  height: 100%;
  overflow: hidden;
}

body {
  padding: 1em;
  text-shadow: 0 0 1px #000, 0 0 2px #000;
  background-color: red;
  font-family: 'Nunito', sans-serif;
  font-weight: 600;
  font-size: {font_size};
  line-height: 1.5em;
  color: {text_color};
}

#chatbox-background {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0px;
  left: 0;
  border-radius: {chatbox-border-radius}px;
  background-color: rgba(36, 36, 36, {background-alpha-value});
}

#chatbox-border {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0px;
  left: 0;
  border-radius: {chatbox-border-radius}px;
  border: {chatbox-border-width}px solid {chatbox-border-colour};
  background-color: rgba(255, 255, 255, 0);
}

#log {
  display: table;
  position: absolute;
  bottom: 0;
  left: 0;
  padding: {chatbox-padding}em;
  width: 100%;
  table-layout: fixed;
}

#log > div {
  border: {message-border-width}px solid {message-border-colour};
  border-radius: {message-border-radius}px;
  margin-top: 15px;
  padding: 0.4em 0.5em 0.4em 0.5em; 
  background-color: {message-background-colour};
  animation: fadeInRight .3s ease forwards, fadeOut 0.5s ease {message_hide_delay} forwards;
  -webkit-animation: fadeInRight .3s ease forwards, fadeOut 0.5s ease {message_hide_delay} forwards;
}

.colon {
    display: none;
}

#log > div.deleted {
    visibility: hidden;
}

#log .emote {
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    padding: 0.4em 0.2em;
    position: relative;
}

#log .emote img {
    display: inline-block;
    height: 1em;
    opacity: 0;
}

#log .message, #log .meta {
    vertical-align: top;
    padding-bottom: 0.1em;
}

#log .meta {
  width: 35%;
  text-align: right;
  padding-right: 0.5em;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

#log .message {
  word-wrap: break-word;
  width: 65%;
}

.badge {
  display: inline-block;
  position: relative;
  height: 1em;
  vertical-align: middle;
  top: -0.1em;
}

.name {
  font-weight: 900;
  margin-left: 0.1em;
}